.page-navigation {
  height: 100%;
  background-color: #000;

  .nav-items {
    display: flex;
    flex-direction: column;
  }

  .item-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5.4rem;
    height: 5.4rem;
    background-color: #222;
    color: #fff;
    transition: background-color 0.2s;

    &.active {
      border-left: 0.3rem solid #ae45d8;
    }

    &:hover {
      background-color: #333;
    }
  }
}
