.page-navigation {
  height: 100%;
  border-right: 1px solid #dedede;

  .nav-items {
    display: flex;
    flex-direction: column;
    height: 100%;

    .nav-item {
      &:not(:last-child) {
        .item-box {
          border-bottom: 1px solid #dedede;
        }
      }

      &.spaced {
        margin-top: auto;
        border-top: 1px solid #dedede;
      }
    }
  }

  .item-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5.4rem;
    height: 5.4rem;
    color: #414141;
    transition: background-color 0.2s;

    &:hover {
      background-color: #efefef;
    }

    &.active {
      background-color: #2296da;
      color: #fafafa;
    
      &:hover {
        background-color: #3ea9e7;
      }
    }
  }
}
